<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<BetterElectronics.NoBreakdowns.Enabled>No Random Breakdowns</BetterElectronics.NoBreakdowns.Enabled>
	<BetterElectronics.NoBreakdowns.Enabled.Alt>Disable random breakdowns. Changing this setting requires restart.</BetterElectronics.NoBreakdowns.Enabled.Alt>
	<BetterElectronics.NoSolarFlare.Enabled>No Solar Flare</BetterElectronics.NoSolarFlare.Enabled>
	<BetterElectronics.NoSolarFlare.Enabled.Alt>Disable solar flare. Changing this setting requires restart.</BetterElectronics.NoSolarFlare.Enabled.Alt>
	<BetterElectronics.NoShortCircuits.Enabled>No Random Short Circuits</BetterElectronics.NoShortCircuits.Enabled>
	<BetterElectronics.NoShortCircuits.Enabled.Alt>Disable short circuits. Changing this setting requires restart.</BetterElectronics.NoShortCircuits.Enabled.Alt>
</LanguageData>